.section-heading {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.section-heading > h2 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;

}

.section-heading > p {
    font-size: 1.3rem;
    color: var(--primmary-color);
    text-transform: capitalize;
}


